<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wyntasdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".InAppWebViewActivity"
            android:excludeFromRecents="true" />
    </application>
</manifest>
